.title {
  &-underline {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--divider);
  }
}

.btn {
  border: 0;
  border-radius: 3px;
  padding: 0.8rem 1.6rem;
  font-weight: 700;
  cursor: pointer;
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: var(--box-shadow);
    transition: box-shadow 0.2s;
  }

  &-primary {
    background: var(--primary);
    color: white;
  }

  &-secondary {
    border: 1px solid var(--primary);
    background: white;
    color: var(--primary);
  }

  &-danger {
    border: 1px solid var(--error);
    background: white;
    color: var(--error);
  }
}

.text {
  &-error {
    color: var(--error);
  }
}

.sidebar .active {
  color: var(--primary);
  font-weight: 700;
  strong {
    color: var(--primary);
  }
}
