@use "variables";
@use "reset";
@use "classes";
@use "media-queries" as mq;
@use "utils";
@use "native-tag";

.container {
  min-height: 100vh;
  display: grid;
  grid:
    "header" auto
    "content" 1fr
    "footer" auto /
    auto;
}

header {
  grid-area: "header";
  background: var(--dark);
  padding: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  nav {
    position: relative;
  }

  a {
    color: white;
  }

  ul {
    display: flex;

    @include mq.xs {
      display: none;
    }
  }

  .header-menu-icon {
    display: none;
    font-size: 3.2rem;
    color: white;
    @include mq.xs {
      display: inline-block;
    }
  }

  .mobile-menu {
    display: none;
    box-shadow: var(--box-shadow);
    position: absolute;
    top: 9.6rem;
    right: 1rem;
    padding: 2.8rem 2rem;
    width: 20rem;
    background: white;
    li {
      margin: 2rem 0;
      a {
        color: var(--text);
      }
    }
  }
  .mobile-menu.open {
    display: block;
  }

  .header-brand {
    font-size: 4rem;
    font-weight: 700;
  }

  .header-nav {
    font-size: 2rem;
    padding: 0px 8px;
  }

  .active {
    font-weight: 700;
    text-decoration: underline;
  }
}

.content {
  grid-area: content;
  padding: 20px;
  background: var(--divider);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  grid-area: "footer";
  padding: 20px;
  background: var(--dark-grey);
  font-size: 2rem;
  text-align: center;
  color: white;
}
